Q. Indexing and Negative Indexing (How can You reverse a string through indexing?)

In [5]:
#glf

a = 'welcome to python'
type(a)

#a> indexing 
a[0:8:2]
print(a)

# Negative indexing
b = a[::-1]

print(b)

welcome to python
nohtyp ot emoclew

Q. example given the string "Welcome to the danger zone" should become "zone danger the to Welcome" and not enoz regnad eht ot emocleW

In [6]:
str = "Welcome to danger zone"
str1=str.split(" ")
print(str1)
str1 = str1[-1::-1]
print(str1)

str3 = ' '.join(str1)
print(str3)

['Welcome', 'to', 'danger', 'zone']
['zone', 'danger', 'to', 'Welcome']
zone danger to Welcome

Q. You are given a string input, let's say "Hello World!". Your output should be, how many times each character is showing up in the string. So, in this example, it should write:

H: 1 e: 1 l: 3 o: 2

In [7]:
str = "Hello World"
str1={}
for a in str:
    if a not in str1:
        str1.update({a:str.count(a)})
        print(f'{a}: {str.count(a)}',end = ' ')

H: 1 e: 1 l: 3 o: 2  : 1 W: 1 r: 1 d: 1

Q. What is difference between python scripts and Modules?

In [ ]:
> Programmers use to write a code in files called Scripts.
>and it is directly executable pieace of code,it will rubby itself.

>A Module is a library imported by others.
>An import statement will be used to import with dot notation.
ex: print(math.pi)

Q. What is the difference between lists and tuples? Which is faster, which is more size ..etc?

In [ ]:
#TUPLES:
>Tuple is one of the data structure and it will have ordered list of items where we can't change.
>Hence we call it as "Immutable" 
>below is the example how to declare tuple
tp = (1,2,3)
>Tuple has less merory than List. as the Tuple is immutable it will have static memory (no need of extra memory)
>Also tuple is faster than List
> Indexing speed of a Tuple is faster than List.

#LIST:

>We can change(adding,deletion..) the list values ruring run time.
>Hence we call it as "Mutable"
>below is the example how to declare LIST.
ls = [1,2,3]
>List occupies more memory than Tuple.
>Slower than Tuple
>timeit method can be used ti find the speed of tuple nad list

Q. List append and extend method difference?

In [15]:
#append() method

#>This methid is is used to add new data to the existing list at the end.
#>append() method will accept the single data as parameter.
#ex:
my_list = [1,2,3,4]
my_list.append([7,8,9])
print(my_list)

#extend()
my_list1 = [1,2,3,4]
my_list1.extend([9,6,7])
print(my_list1)

[1, 2, 3, 4, [7, 8, 9]]
[1, 2, 3, 4, 9, 6, 7]

Q. Remove, pop and delete method difference on list?

In [ ]:
>In Python remove() and pop() are built in methods where as del ia keyword.
> remove() method delete values or object from the list using value
> and del and pop() deletes values or object from the list using an index.
> del ex:
    
    num = [1,2,3,4,5,6]
    del num[4] ---------> delete 4th index value (5)
    del num[-1]---------> delete last element in the list
    del num
    
 remove(): remove the first matching value from the list
    
    num1 = [1,2,3,4,3,6,1]
    num1.remove(2)------->print[1,3,4,3,6,1]
    
 POP(): returns the deleted value from the list
    
    num = [1,2,3,4,5,2]
    num.pop(2)----> print 2

Q. Check if a list contains an element

In [13]:
lst = ["hi","hello","yes","no"]
if "hello" in lst:
    print("object hello is avilable")
else:
    print("object hello is not avalable")

object hello is avilable

Q. What does “del” do?

In [ ]:
#del is a keyword to delelete either specified item with index value or entire data of object.

Q. Find the index of the 1st matching element?

In [16]:
num = 4
lst = [1,2,3,4,6,8]
print(lst.index(4))

3

Q. Remove all elements from a list?

In [18]:
lst = [1,2,3,4,5,6]
lst.clear()
print(lst)

[]

Q. Remove all elements from a list

Q. Count the occurrence of a specific object in a list?

In [31]:
#using count
lst = [1,2,3,4,2,6,2,7]
occurance =lst.count(2)
print(occurance)
 
# using loop
input=5
lst=[1,2,5,4,5,4,5,8,5,10]
a=0
for elm in range(len(lst)):
    if input==lst[elm]:
        a=a+1
print(f'Found the value {input} in {a} positions')

3
Found the value 5 in 4 positions

Q. Count the occurrence of a specific object in a list

Q. Return the length of a list?

In [24]:
lst = [1,23,45,67,90]
print(len(lst))

5


Q. Reverse a list in Python 
   list1 = [100, 200, 300, 400, 500] --- >[500, 400, 300, 200, 100]


Q. Concatenate two lists index-wise 
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"] --- >['My', 'name', 'is', 'Kelly']

In [34]:
#reverse of a list

lst1=[100,200,300,400,500]
print(lst1[::-1])

#concatenate

lst1 = ["M","na","i","ke"]
lst2 = ['y','me','s','lly']
res = [i + j for i, j in zip(lst1,lst2)]
print(res)

[500, 400, 300, 200, 100]
['My', 'name', 'is', 'kelly']


Q. Turn every item of a list into its square 
   numbers = [1, 2, 3, 4, 5, 6, 7] --- >[1, 4, 9, 16, 25, 36, 49]

In [ ]:
lst = [1,2,3,4,5,6,7]
list1=[]
for item in lst:
     list1.append(item**2)
print(list1)


Q. Concatenate two lists in the following order -- 
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"] ----- >['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
lst1=['Hello','Take']
lst2=['Dear','Sir']
lst3=[]
for i in lst1:
    for j in lst2:
        lst3.append(i+' '+j)
print(lst3)

Q. Iterate both lists simultaneously
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400] ---- >
10 400
20 300
30 200
40 100

In [ ]:
lst1=[10,20,30,40]
lst2=[100,200,300,400]
lst3=[]
for a,b in zip(lst1,lst2[::-1]):
    lst3.extend([a,b])
    print(list3)

Q. Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"] --- >["Mike", "Emma", "Kelly", "Brad"]

In [ ]:
lst = ["Mike","","Emma","Kelly","","Nrad"]
lst1=[i for i in lst if i!='']
print(lst1)


Q. Add new item to list after a specified item --- >
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40] --->[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
lst = [10,20[300,400,[5000,6000],500],30,40]
lst[2][2].append(7000)
print(lst)

Q. Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]


# sub list to add
sub_list = ["h", "i", "j"]

---- > ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
lst =  ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_lst =['h','i','j']
lst[2][1][2].append(su_lst)
print(lst)

Q.Replace list’s item with new value if found
list1 = [5, 10, 15, 20, 25, 50, 20] ---- >[5, 10, 15, 200, 25, 50, 20]

In [ ]:
lst=[5,10,15,20,25,50,20]
lst[lst.index(20)]=200
print(lst)